@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

$border_morderate: 8px;
$border_normal: 5px;
$bg_alpha_moderate: .2;
$bg_alpha_normal: .1;
$margin-length: 4em;
$brand_font: "Josefin Sans";
$shadingColor: #ebebeb;
$gradient: linear-gradient(to right, #159957, #008e7e, #00809b, #006da5, #155799);
$btnHoverColor: rgb(180, 180, 180);

%transition {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

%border {
  border: 1px solid #c4c4c4;
}

%disableSelect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

%width {
  width: 80%;
  max-width: 1200px;
}

%outer_frame {
  padding: 1em;
  background-color: rgba($color: black, $alpha: .1);
  margin: auto;
  border-radius: $border_morderate;
  @extend %width;
}

.shadowHover {
  box-shadow: 0 2px 10px -7px black;
  @extend %transition;
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 2px 10px -5px black
  }
}

input,
button {
  @extend %border;
}

.episode_container .btn,
#createNewPPActionBtn,
#existedPPActionBtn {
  background-color: rgba($color: black, $alpha: .1) !important;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

header {
  padding: .5em .5em 0 .5em;
  position: sticky;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, #159957, #008e7e, #00809b, #006da5, #155799);
  text-align: center;
  z-index: 5;

  a {
    font-weight: bold;
    font-size: 40px;
    font-family: $brand_font;
    color: white;
    transition: color .2s ease-out;

    &:hover {
      color: $btnHoverColor;
    }
  }

}

.copy2clip,
#downloadJSON {
  background-color: white !important;
}

.alertCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  @extend %disableSelect;

  .innerAlertCtn {
    display: flex;
    flex-direction: column;
    margin-top: .5em;

    .alert {
      background-color: red;
      margin: .5em;
      color: yellow;
    }
  }
}

#addOrCreateNewCtn {
  width: 100%;
  margin: 2em auto;
  text-align: center;
}

.btn-light {
  background-color: rgba($color: black, $alpha: .5);
}

#userInteractCtn {
  display: flex;
  flex-direction: column;
  margin: auto;
  @extend %width;

  #masterPosterContainer {
    border-radius: 5px;
    margin-top: 2em;
    width: 100%;
  }

  .essentials {
    display: flex;
    width: 100%;
  }

  .episode_container {
    padding: 0 1em 0 1em;
    margin-top: 2em;
    border-radius: $border_morderate;
    background-color: $shadingColor;
    @extend %border;

    .dropdown-menu,
    .dropdown-toggle {
      color: black;
      cursor: pointer;
      background-color: white;
    }

    .singleCapCtn {
      display: flex;
      width: 100%;

      input {
        @extend %border;
      }
    }

    #ALL_SRCS_CTN {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .addRemoveEpBtn {
      text-align: center;
    }
  }

  #typeSelectorBtn {
    border-radius: 0 5px 5px 0;
  }
}

.submitBtnCtn {
  margin-top: 2em;

  form {
    padding-bottom: 2em;
    text-align: center;

    button {
      color: white;
      font-size: 1.2em;
      font-weight: 600;
      border-radius: $border_morderate;
      background-image: linear-gradient(to right, #159957, #008e7e, #00809b, #006da5, #155799);
      padding: .5em 2em;
      margin: 0 .5em;

      &:hover {
        color: $btnHoverColor;
      }
    }
  }
}

#displayFinalResultCtn {
  text-align: center;

  #createNewPPCtn {
    .createNewPPLowerCtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      #createNewPPCode {
        width: fit-content;
      }

      button {
        height: 56px;
        margin-left: 5px;
      }
    }
  }

  #existedPPCtn,
  #createNewPPCtn {
    max-width: 80%;
    width: fit-content;
    margin: 2em auto 0 auto;
    @extend %outer_frame;
  }
}

.ml {
  margin-left: 1em;
}

.mr {
  margin-right: 1em;
}

.mt {
  margin-top: 1em;
}

.mb {
  margin-bottom: 1em;
}
.nowarp {
  white-space: nowrap;
}