$transition: 0.4s ease-out;
$lineHeight: 40px;
$btnHoverRad: 8px;
$box-shadow: 0 2px 10px -7px #000;

// #region Mixins
@mixin transition {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@mixin hoverShadow {
  box-shadow: $box-shadow;
  @include transition;

  &:hover {
    box-shadow: 0 2px 10px -5px black;
  }
}

@mixin disableSelect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

@mixin hoverZoom($x: 1.1, $y: 0.95) {
  @include transition;

  &:hover {
    transform: scale($x);
  }

  &:active {
    transform: scale($y);
  }
}

// #endregion

khplayer-container {
  // Theme color
  --main-color: #c2185b;
  // Background transparent effect (Plyr's menu, confirm continue watching window, embed playlist)
  --bg-tp-fx: blur(5px);
  --font: "SF Pro Display", sans-serif;
  // Bg color of confirm continue watching (CCW) button
  --confirm-btn-bg: var(--main-color);
  // Text color of CCW button
  --confirm-btn-text: white;
  // Bg color of CCW alertbox
  --confirm-box-bg: red;
  // Text color of CCW alertbox
  --confirm-box-text: yellow;
  // Bg color of CCW window
  --bg-detect-history: rgba(0, 0, 0, 0.6);
  // Backdrop-filter of CCW window
  --bdft-detect-history: blur(var(--blur-strength));

  // Playlist bg
  --list-bg: rgba(0, 0, 0, 0.8);
  // Select episode bg
  --ep-bg: rgba(255, 255, 255, 0.1);
  // Select episode text color
  --ep-text: rgba(255, 255, 255, 0.6);
  // Playing episode text color
  --ep-active: yellow;
  // Embed playlist backdrop-filter
  --bdft-embedplaylist: var(--bg-tp-fx);

  // Scrollbar color
  --scrollbar-color: var(--main-color);
  // Hiệu ứng nền menu plyr
  --bdft-menu: var(--bg-tp-fx);

  * {
    font-family: var(--font) !important;
  }

  // #region scrollbar
  .custom_scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -webkit-border-radius: 10px;
      background: #fff;
      background: var(--scrollbar-color);
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -webkit-border-radius: 10px;
    }
  }

  // #endregion

  .KHPPlaylistContainer {
    border-radius: 0 0 5px 5px;
    max-height: 15rem;
    margin-top: 0px;
    transition: box-shadow $transition;
    @include hoverShadow;

    &:hover {
      box-shadow: 0 2px 10px -5px #000;
    }
  }

  .EmbedKHPPlaylist {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    width: 400px;
    z-index: 3;
    overflow: hidden;
    transition: transform $transition;
    backdrop-filter: var(--bdft-embedplaylist);

    &.hidden {
      transition: transform $transition;
      transform: translateX(-100%);
    }

    & > div {
      position: relative;
      width: 100%;
      height: 100%;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        position: relative;
      }

      .closeEmbed {
        $size: 40px;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        width: $size;
        height: $size;
        z-index: 4;
        color: var(--main-color);
        cursor: pointer;
        transition: transform 0.2s ease-in;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .KHPPlaylistContainer,
  .EmbedKHPPlaylist > div > ul {
    background: var(--list-bg);
    padding: 0.2rem;
    overflow: auto;
    list-style-type: none;
    margin: 0;

    li {
      padding: 0.5rem;
      margin: 0.4rem;
      color: var(--ep-text);
      background-color: var(--ep-bg);
      border-radius: 4px;
      user-select: none;
      transition-property: color, background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
      &:hover {
        color: var(--main-color);
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.05);
      }

      &[playing] {
        color: var(--ep-active);
      }
    }
  }

  .plyr {
    --plyr-color-main: var(--main-color);
    --plyr-font-family: var(--font);
    --plyr-font-smoothing: true;
    --plyr-font-size-large: 20px;
    --plyr-font-size-xlarge: 38px;
    --plyr-menu-background: rgba(0, 0, 0, 0.6);
    --plyr-menu-color: white;

    /* KHÔNG XOÁ DÒNG NÀY | DO NOT REMOVE THIS LINE */
    overflow: hidden !important;
    border-radius: 5px 5px 0 0;

    .plyr__menu__container {
      backdrop-filter: var(--bdft-menu);
    }

    & > .plyr__control[data-plyr="play"] {
      box-shadow: 0 2px 10px -2px #000;
      backdrop-filter: blur(var(--blur-strength));
    }

    .plyr__caption {
      line-height: 100%;
    }

    .plyr__video-wrapper,
    .plyr__captions {
      z-index: 2;
    }

    .plyr__controls {
      z-index: 3;

      .customBtn {
        position: relative;
        bottom: 0;

        svg {
          transform: scale(1.15);
        }
      }
    }
  }

  .systemDetectHistory {
    position: absolute;
    z-index: 69;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: var(--bdft-detect-history);
    background: var(--bg-detect-history);
    @include disableSelect;

    .text {
      max-width: 80%;
      width: fit-content;
      max-height: 100px;
      background-color: var(--confirm-box-bg);
      color: var(--confirm-box-text);
      border-radius: $btnHoverRad;
      padding: 0.5em 1em;
      text-align: center;
      box-shadow: $box-shadow;
    }

    .actions {
      margin-top: 8px;
      display: flex;
      flex-direction: row;

      .confirmBtn {
        border-radius: $btnHoverRad;
        display: inline-block;
        color: var(--confirm-btn-text);
        background: var(--confirm-btn-bg);
        height: $lineHeight;
        padding: 3px;
        cursor: pointer;
        transition-property: transform, box-shadow;
        overflow: hidden;
        margin: 5px 8px;
        text-align: center;

        @include hoverZoom(1.1);
        @include transition;
        @include hoverShadow;

        &:active {
          transform: scale(1);
        }

        &:hover {
          color: #fff;
        }

        a {
          color: white;
        }

        .buttonInner {
          line-height: $lineHeight - 6px;
          padding: 0 10px;
          @include transition;
          transition-property: margin, color, background-color;
        }
      }
    }

    &.hideAlert {
      transition: transform $transition;
      transform: translateY(-100%);
    }
  }

  @media screen and (max-width: 500px) {
    .plyr {
      .plyr__controls {
        .nextEpBtn,
        .prevEpBtn,
        button[data-plyr="pip"],
        .plyr__volume {
          display: none;
        }
      }
    }
  }
}
